.unslate_co--site-inner{margin-bottom: 134px;}
.portfolio-wrapper{overflow: hidden;}
#portfolio-section{background: url(../images/bg01.jpg) no-repeat; background-size: cover;}
#about-section, #skills-section{background-color: #f6fbff;}
#resume-section{background: url(../images/bg02.jpg) no-repeat; background-size: cover;}
#contact-section{background: url(../images/bg03.jpg) no-repeat; background-size: cover; padding: 80px 0 150px;}
.akitext h3{color: #00051d !important; font-weight: 900 !important;}
.akitext p{color: rgba(0, 5, 29, 0.8) !important;}
.abouttext{color: #006aa2; padding: 0 15PX 0 15PX;}
@media (max-width: 991.98px){
  .contact-info-v1 .contact-info-val{font-size: 19px;}
}

.portfolio-text h2{font-weight: 800;}
/*프로필*/
.profile_img{width: 350px; transform: translateX(50%);}
.abouttext>p{font-weight: 400;}
.abouttext>h3{font-weight: 600; color: #002133;}
.mail{font-weight: 500; font-family: "Arimo", sans-serif; text-transform: uppercase; font-weight: 700; font-size: 15px; color: rgba(0, 106, 162, 0.8); display: block;}
.mail_text{color: #4e5356;}


/*경력사항*/
.feature-v1{height: 250px; border-radius: 50px 10px 10px 10px; padding-left: 5%; background-color: rgba(246, 251, 255, 0.3);}/* 경력사항텍스트상자 */
.feature-v1 h3{margin: 0;}
.wrap-icon {padding-top: 30px;}
.edu1{background: rgba(246, 251, 255, 0.3) url(../images/edu1.png) no-repeat 102% bottom; overflow: hidden;}
.edu2{background: rgba(246, 251, 255, 0.3) url(../images/edu2.png) no-repeat 102% bottom; overflow: hidden;}
.edu3{background: rgba(246, 251, 255, 0.3) url(../images/edu3.png) no-repeat 102% bottom; overflow: hidden;}
.edu4{background: rgba(246, 251, 255, 0.3) url(../images/edu4.png) no-repeat 102% bottom; overflow: hidden;}
.exp1{background: rgba(246, 251, 255, 0.3) url(../images/exp1.png) no-repeat 102% 135px; overflow: hidden;}
.exp2{background: rgba(246, 251, 255, 0.3) url(../images/exp2.png) no-repeat 105% 170px; overflow: hidden;}
.exp3{background: rgba(246, 251, 255, 0.3) url(../images/exp3.png) no-repeat 102% 121px; overflow: hidden;}
.exp4{background: rgba(246, 251, 255, 0.3) url(../images/exp4.png) no-repeat 102% 150px; overflow: hidden;}
.lic{background: rgba(246, 251, 255, 0.3) url(../images/lic.png) no-repeat 102% bottom; overflow: hidden;}
.cer{background: rgba(246, 251, 255, 0.3) url(../images/cer.png) no-repeat 102% bottom; overflow: hidden;}
.lic2{background: rgba(246, 251, 255, 0.3) url(../images/lic_2.png) no-repeat 102% 137px; overflow: hidden;}
.site-copyright{font-family: 'Yeongdo-Rg'; color: #f6fbff; font-size: 25px;}
.site-copyright img{display: inline-block; padding-right: 10px; transform: scale(0.8) translateY(-7px); }
.resume_t h4{font-weight: 500;}
.resume_t p{font-weight: 300;}

/*resume*/
#fh5co-resume{background: url(../images/resume_bg.jpg) no-repeat; background-size: cover;}
.timeline .timeline-heading > div h3{background-color: #6d7da1; color: #e5ebf3; font-family: 'Yeongdo-Rg'; letter-spacing: 0; font-size: 30px; font-weight: normal; padding: 15px 15px 0;}
.timeline > li > .timeline-badge{background: url(../images/moon.png) no-repeat; background-size: contain; width: 50px; height: 50px; margin-left: -25px;}
.resume_con{height: 200px; box-sizing: border-box; font-family: 'SCoreDream';}
.resume_con_text{box-sizing: border-box;}
.timeline-title{font-size: 22px; font-family: 'Yeongdo-Rg'; margin: 0; color: #e5ebf3;}
.re_img{margin-bottom: 10px;}
.company{font-weight: 600; font-size: 28px; color: #e5ebf3; margin-bottom: 5px; line-height: 38px;}
.resume_con_text>h4{font-size: 18px; color: #e5ebf3; font-weight: 300; font-family: 'SCoreDream';}

.artwork{padding: 10px; box-sizing: border-box;}
/*팝업*/
.popup{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; display: none; background-color: rgba(0, 5, 29, 0.5);}
.img_wrap{position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%;}
.img_wrap img{width: 100%; display: block;}
.pop2_1>.img_wrap{width: 30%;}
.popup p{position: absolute; top: -25px; right: 0;}
.popup p a{color: #f6fbff; font-family: 'Yeongdo-Rg'; font-size: 20px;}
/*팝업 반응형*/
@media(max-width:1024px)and (min-width:769px){
  .img_wrap{width: 60%;}
  .pop2_1>.img_wrap{width: 50%;}
}
@media(max-width:768px){
  .img_wrap{width: 80%;}
  .pop2_1>.img_wrap{width: 60%;}
}